<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
    <ion-searchbar
      placeholder="Buscar produtos..."
      [debounce]="500"
      (ionInput)="buscar($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresher)="atualizar($event)">
    <ion-refresher-content
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando..."
    ></ion-refresher-content>
  </ion-refresher>


  <!-- lista fake (Skeleton) -->
  <ion-list *ngIf="produtos.length == 0">
    <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 100%;"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3><ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text></h3>
        <p><ion-skeleton-text [animated]="true" style="width: 60%"></ion-skeleton-text></p>
        <p><ion-skeleton-text [animated]="true" style="width: 30%"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-item *ngFor="let p of produtos">
      <ion-thumbnail *ngIf="p.imagem" slot="start" (click)="abrirImagem(p.id)">
        <img [src]="'https://sublimegrace.com.br/modelo-api/'+ p.imagem" alt="">
      </ion-thumbnail>

      <ion-thumbnail *ngIf="!p.imagem" slot="start" (click)="abrirImagem(p.id)">
        <img [src]="'https://sublimegrace.com.br/modelo-api/uploads/sem_imagem.jpg'" alt="">
      </ion-thumbnail>

      <ion-label (click)="abrirDetalhes(p.id)">
        <h2><strong>{{p.descricao}}</strong></h2>
        <p>R$ <strong>{{p.valor_unit}}</strong> | Quantidade: <strong>{{p.quantidade}}</strong></p>
      </ion-label>
    </ion-item>
  </ion-list>


  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="carregar($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando mais produtos"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
