<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Produto detalhe</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back-sharp"></ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" >

    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input formControlName="descricao"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="floating">Código de Barras</ion-label>
      <ion-input formControlName="cod_barras"></ion-input>
    </ion-item>

     <ion-item>
      <ion-label position="floating">Valor Unitário</ion-label>
      <ion-input formControlName="valor_unit"></ion-input>
    </ion-item>

     <ion-item>
      <ion-label position="floating">Unidade de Venda </ion-label>
      <ion-input formControlName="unidade_venda"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estoque de Minimo </ion-label>
      <ion-input formControlName="estoque_minimo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Classe de Desconto </ion-label>
      <ion-input formControlName="classe_desconto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Imagem</ion-label>
      <ion-input formControlName="imagem"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input formControlName="quantidade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ultimo Moviemnto</ion-label>
      <ion-input formControlName="data_ultimo_movimento"></ion-input>
    </ion-item>

  </form>
</ion-content>
