<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-toolbar>
      <ion-title>
        Sistema Comercial
      </ion-title>
      <ion-button slot="end">
        <ion-button (click)="logout()">Sair</ion-button>
      </ion-button>
    </ion-toolbar>
    <ion-list>
      <ion-item routerLink="/usuario-add">Cadastrar Usuário</ion-item>
      <ion-item routerLink="/usuario-list">Listar Usuário</ion-item>
      <ion-item routerLink="/clientes">Clientes</ion-item>
      <ion-item routerLink="/produtos">Produtos</ion-item>
      <ion-item routerLink="/pedidos">Pedidos</ion-item>
    </ion-list>

</ion-content>
